{% load static %}

{% for object in object_list %}
<ul class="user_list {% if not object.is_active %}not_active{% endif %}">
    <li class="id">{{ object.id }}</li>
    <li class="avatar"><img src="{{ media_url }}{{object.avatar}}" alt="{{ object.username }}" class="user_avatar"></li>
    <li class="username"><a href="{% url 'admin:user_view' object.pk %}">{{ object.username }}</a></li>
    <li class="is_active"><span class="user_status">{{ object.is_active }}</span></li>
    <li class="is_staff"><span class="user_status">{{ object.is_staff }}</span></li>
    <li class="user_delete"><a href="{% url 'admin:user_delete' object.pk %}" data-pk="{{object.pk}}"
            class="adminapp_button del_usr">
            {% if object.is_active %}Удалить{% else %}Восстановить{% endif %}</a>
    </li>
</ul>
{% endfor %}