{% load static %}

<a href="/" class="logo"></a>
<ul class="menu">
        {% if user.is_superuser %}<li class="admin_page"><a href="{% url 'admin:users' %}">Админка</a></li>{% endif %}
        <li><a href="{% url 'main' %}" class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">
                        домой</a></li>
        <li><a href=" {% url 'products:index' %}"
                        class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                        продукты</a></li>
        <li><a href="{% url 'contact' %}"
                        class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
                        контакты</a></li>
        <li>
                {% if user.is_authenticated %}
                <a id="username" href=""><span class="username">{{user.username}}</span></a>
                <div id="dropdown" class="dropdown">
                        <a href="{% url 'auth:profile' %}" class="dorpdown_item">Профиль</a>
                        <a href="{% url 'order:orders_list' %}" class="dorpdown_item">Заказы</a>
                </div>
                {% else %}
                <a href="{% url 'auth:register' %}">регистрация</a>
                <a href="{% url 'auth:login' %}">войти</a>
                {% endif %}
        </li>
        {% if user.is_authenticated %}
        <li class="count">
                <div class="menu_basket_container">
                        <span class="menu_basket menu_count">
                                <b class="menu_basket_title">В корзине:</b> {{ basket_count }}
                                товаров</span>
                        <span class="menu_basket menu_cost">
                                <b class="menu_basket_title">На сумму:</b> {{ basket_cost }}
                                рублей</span>
                </div>
        </li>
        {% endif %}
</ul>
<a href="{% url 'basket:view' %}" class="basket"></a>
<a href="#" class="search"></a>