{% load static %}

{% for item in same_products %}
<div class="block">
    <a href="{% url 'products:product' item.category.pk item.pk %}"><img class="product_img"
            src="{{ media_url }}{{item.image}}" alt="{{item.short_desc}}">
        <div class="text">
            <img src="{% static 'img/icon-hover.png' %}" alt="{{item.short_desc}}">
            <h3>Категория: {{item.category.title}}</h3>
            <h4>Название: {{item.name}}</h4>
            <p>Описание: {{item.description}}</p>
            <p>Цена: {{item.price}}</p>
            <p>На складе: {{item.count}}</p>
        </div>
    </a>
</div>
{% endfor %}