{% load static %}

<div class="{% if not product_large %}hide{% endif %}">
    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img class="product_img" src="{{media_url}}{{product_large.image}}">
                <img class="hot {% if not hot %}hide{% endif %}" src="{% static 'img/hot_deal_small.png' %}"
                    alt="hot_deal">
            </div>
            <div class="slider-control">
                <div class="block">
                    <a href="#"><img src="{% static 'img/controll.jpg' %}" alt="">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="{% static 'img/controll1.jpg' %}" alt="">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="{% static 'img/controll2.jpg' %}" alt="">
                        <div class="text"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{product_large.name}}</h3>
            <h3 class="red">{{product_large.description}}</h3>
            <p class="price"> {{product_large.price}} <span>руб</span></p>
            <h3 class="red">В наличии: {{product_large.count}}</h3>
            {% if product_large %}
            <form class="to_basket_form" method="post" action="{% url 'basket:add' category product_large.pk %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <label for="#{{ product_large.pk }}" class="label_for_input">Количество:
                    <input class="quant_input" type="number" name="quant" id="{{ product_large.pk }} " min=1 max=999
                        value="1">
                </label>
                <button class="red-button" type="submit">заказать
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </form>
            {% endif %}
            <div class="description-text">
                <p>Расположитесь комфортно.</p>
                <p>Отличное качество материалов
                    позволит вам это.</p>
                <p>Различные цвета</p>
                <p>высочайший уровень
                    эргономики и прочность.</p>
            </div>
        </div>
    </div>
</div>