{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-5.15.1-web/css/fa.all.min.css' %}">
    {% endblock css %}
</head>

<body>
    <ul class="admin_menu">
        <li class="admin_menu_item"><a href="{% url 'main' %}" class="admin_menu_link">Сайт</a></li>
        <li class="admin_menu_item"><a href="{% url 'admin:users' %}"
                class="admin_menu_link {% if active == 'users' %}active{% endif %}">Пользователи</a>
        </li>
        <li class="admin_menu_item"><a href="{% url 'admin:category' %}"
                class="admin_menu_link {% if active == 'category' %}active{% endif %}">Каталог</a>
        </li>
        <li class="admin_menu_item"><a href="{% url 'auth:logout' %}" class="admin_menu_link">Выход</a></li>
    </ul>

    {% block content %}
    {% endblock content %}

    {% block js %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/admin_search_user.js' %}"></script>
    <script src="{% static 'js/admin_user_delete_cbv.js' %}"></script>
    <script src="{% static 'js/admin_category_delete.js' %}"></script>
    {% endblock js %}
</body>

</html>