{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<ul class="users_header">
    <li class="id">ID</li>
    <li class="data">DATE</li>
    <li class="status">STATUS</li>
    <li class="username_ord">USERNAME</li>
</ul>
{% for order in object_list %}
<ul class="users_header">
    <li class="id">{{order.id}}</li>
    <li class="data">{{order.created}}</li>
    <li class="status">{{order.get_status_display}}</li>
    <li class="username_ord">{{order.user.username}}</li>
    <li class="category_actions"><a class="adminapp_button" href="{% url 'admin:o_detail' order.pk %}">Подробнее</a>
    </li>
</ul>
{% endfor %}
{% endblock content %}