{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}

<div class="user_profile_container">
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <h2 class="delete_confirm">Подтвердите действие:</h2><br>
        <label class="delete_label">Пользователь:
            <span class="delete_confirm">{{object.username|title}}</span>
        </label>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="buttons">
            <a class="adminapp_button" href="{% url 'admin:users' %}">Назад</a>
            {% if object.is_active %}
            <input class="adminapp_button" type="submit" value="Удалить">
            {% else %}
            <input class="adminapp_button" type="submit" value="Восстановить">
            {% endif %}
        </div>
    </form>
</div>

{% endblock content %}